<% if task.bug %>
  <div class="panel panel-danger">
<% elsif task.parent_task %>
  <div class="panel panel-warning">
<% else %>
  <div class="panel panel-info">
<% end %>

  <div class="panel-heading">
    <h5><b><%= task.title %></b></h5>
    <%= image_tag(task.get_employee.attachment.url, size: "30", alt: "broke", class: 'employee-avatar') %>
    <h6 class="task-time"><%= task.created_at.strftime("%d %^b, %H:%M") %><br></h6>
  </div>

  <div class="panel-body">
    <% if task.priority == "medium" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#990066;">
        <%= task.priority.upcase %>
      </h6><br>

    <% elsif task.priority == "high" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#FF0000;">
        <%= task.priority.upcase %>
      </h6><br>

    <% else %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= task.priority.upcase %>
      </h6><br>
    <% end %>

    <% if task.owner %>
      <% if task.bug %>
        <h5 style="color:#167FD2;">From task: <%= task.find_parent.title %> </h5>
      <% else %>
        <h5 style="color:#167FD2;">Derived from: <%= task.find_parent.title %> </h5>
      <% end %>
    <% end %>

    <p><%= task.description %></p>

    <p>
      <% task.attachments.each do |attachment| %>
        <%= link_to attachment.get_original_filename, attachment.url, target: :_blank %><br>
      <% end %>
    </p>

    <%= link_to task_comments_path(task), remote: true, :title => "Show comments" do %>
        <i class="glyphicon glyphicon-align-left"></i>
    <% end %>

    <%= link_to new_task_comment_path(task), remote: true, :title => "Add comment" do %>
        <i class="glyphicon glyphicon-comment"></i>
    <% end %>

    <% if current_user.can_modify_task(task.project, task) %>
      <%= link_to project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete task' do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>

      <%= link_to edit_project_task_path(task.project, task), title: 'Edit task' do %>
        <i class="glyphicon glyphicon-edit "></i>
      <% end %>
    <% end %>

    <% if current_user.has_task(@project, task)%>
      <% unless current_user.is_tester(@project) %> <!-- tester can't create a subbug -->
        <%= link_to new_project_subtask_path(@project, task.employee_id, :parent_task => task.id), title: "Create subtask" do %>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      <% end %> <!-- end unless -->

      <%= link_to change_status_path(@project, :task_id => task.id), method: :put, remote: true, class: 'right' do %>
          <i class="glyphicon glyphicon-chevron-right"></i>
        <% end %>

      <% if current_user.is_tester(@project) %>
        <%= link_to image_tag("bug.png", size: "19"), new_project_subtask_path(@project, current_user.id, :parent_task => task.id, :bug => true) %>

        <%= link_to change_status_path(@project, :task_id => task.id, :set_todo => true), method: :put, remote: true, class: 'right' do %>
            <i class="glyphicon glyphicon-chevron-left"></i>
        <% end %>
      <% end %>

    <% end %>

    <% add_comment_form_id = "add-comment-form" + task.id.to_s %>
    <div id=<%= add_comment_form_id %> style="display:none"></div>

    <br>
    <% show_comments_form_id = "show-comments-form" + task.id.to_s %>
    <div id=<%= show_comments_form_id %> style="display:none" ></div>

   </div>

 </div>
