<div class="panel panel-info">

  <div class="panel-heading">
    <h5><b><%= task.title %></b></h5>
    <h6 class="task-time"><%= task.created_at.strftime("%d %^b, %H:%M") %><br></h6>
  </div>

  <div class="panel-body">
    <% if task.priority == "medium" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#990066">
        <%= task.priority.upcase %>
      </h6><br>

    <% elsif task.priority == "high" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#FF0000">
        <%= task.priority.upcase %>
      </h6><br>

    <% else %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= task.priority.upcase %>
      </h6><br>
    <% end %>

    <p><%= task.description %></p>

    <p>
      <% task.attachments.each do |attachment| %>
        <%= link_to attachment.file.identifier, attachment.url, target: :_blank %><br>
      <% end %>
    </p>

    <%= link_to task_comments_path(task), :title => "Show comments" do %>
        <i class="glyphicon glyphicon-align-left">&nbsp</i>
    <% end %>

    <%= link_to new_task_comment_path(task), remote: true, :title => "Add comment" do %>
        <i class="glyphicon glyphicon-comment">&nbsp</i>
    <% end %>

    <% if current_user.can_change_status(@project, task) %>

      <%= link_to change_status_path(@project, :task_id => task.id),
              method: :put, remote: true, class: 'right' do %>
          <i class="glyphicon glyphicon-chevron-right"></i>
        <% end %>

      <% if current_user.is_tester(@project) %>
        <%= link_to change_status_path(@project, :task_id => task.id, :set_todo => true),
            method: :put, remote: true, class: 'right' do %>
            <i class="glyphicon glyphicon-chevron-left"></i>
        <% end %>
      <% end %>

    <% end %>

    <% comment_form_id = "comment-form" + task.id.to_s %>
    <div id=<%= comment_form_id %> style="display:none"></div>

   </div>

 </div>
