<% if ticket.type == "Bug" %> <!-- if it's a bug -->
  <div class="panel panel-danger">
<% elsif ticket.parent_ticket %> <!-- if it's a subtask -->
  <div class="panel panel-warning">
<% else %>
  <div class="panel panel-info">
<% end %>

  <div class="panel-heading">
    <% if current_user.can_see_ticket_details? %>
      <h5><b><%= link_to ticket.title, project_ticket_path(@project, ticket) %></b></h5>
    <% else %>
      <h5><b><%= ticket.title %></b></h5>
    <% end %>
    <% if current_user.can_see_ticket_employee? %>
      <%= image_tag(ticket.get_employee.file.url, size: "30", alt: "broke", class: 'employee-avatar') %>
    <% end %>
    <h6 class="ticket-time"><%= ticket.created_at.strftime("%d %^b, %H:%M") %><br></h6>
  </div>

  <div class="panel-body fixed-ticket-panel">
    <% if ticket.priority == "medium" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#990066;">
        <b><%= ticket.priority.upcase %></b>
      </h6><br>

    <% elsif ticket.priority == "high" %>
      <h6 class="card-subtitle mb-2 text-muted" style="color:#FF0000;">
        <b><%= ticket.priority.upcase %></b>
      </h6><br>

    <% else %>
      <h6 class="card-subtitle mb-2 text-muted">
        <b><%= ticket.priority.upcase %></b>
      </h6><br>
    <% end %>

    <% if ticket.owner %>
      <% if ticket.type == "Bug" %>
        <h5 style="color:#167FD2;"><b>From ticket:</b> <%= ticket.get_parent.title %> </h5>
      <% else %>
        <h5 style="color:#167FD2;"><b>Derived from:</b> <%= ticket.get_parent.title %> </h5>
      <% end %>
    <% end %>

    <% if ticket.has_children? %>
      <h5 style="color:#167FD2;"><b>Has subtickets</b></h5>
    <% end %>

    <p><%= ticket.description %></p>
  </div>

    <!-- BOTTOM BUTTONS -->
  <div class="panel-footer ticket-footer">
    <% if current_user.can_add_and_see_comments? %>
      <%= link_to ticket_comments_path(ticket), remote: true, :title => "Show comments" do %>
          <i class="glyphicon glyphicon-align-left show-comments-icon"></i>
      <% end %>

      <div class="notification"><%= ticket.get_nr_of_comments %></div>

      <%= link_to new_ticket_comment_path(ticket), remote: true, :title => "Add comment" do %>
          <i class="glyphicon glyphicon-comment"></i>
      <% end %>
    <% end %>

    <% if current_user.can_add_subticket?(ticket) %>
      <%= link_to new_project_ticket_path(@project, :owner => ticket.employee_id, :parent_ticket => ticket.id), title: "Create subticket" do %>
        <i class="glyphicon glyphicon-plus"></i>
      <% end %>
    <% end %>

    <% if current_user.can_add_bug?(@project, ticket) %>
      <%= link_to image_tag("bug.png", size: "18"), new_project_subticket_path(@project, current_user.id, :parent_ticket => ticket.id, :bug => true), title: "Report a bug" %>
    <% end %>

    <% if current_user.can_modify_ticket?(@project, ticket) %>
      <%= link_to edit_project_ticket_path(ticket.project, ticket), title: 'Edit ticket' do %>
        <i class="glyphicon glyphicon-edit "></i>
      <% end %>

      <%= link_to project_ticket_path(ticket.project, ticket), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete ticket' do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    <% end %>

    <% if current_user.can_send_ticket_forward?(@project, ticket) %>
      <%= link_to change_status_path(@project, ticket, :filter => @filter), method: :put, remote: true, class: 'right', title: 'Go forward' do %>
          <i class="glyphicon glyphicon-chevron-right"></i>
      <% end %>
    <% end %>

    <% if current_user.can_send_ticket_back?(@project, ticket) %>
      <%= link_to change_status_path(@project, ticket, :filter => @filter, :back => true), method: :put, remote: true, class: 'right', title: 'Go back' do %>
          <i class="glyphicon glyphicon-chevron-left"></i>
      <% end %>
    <% end %>

    <div id="new-comment-<%= ticket.id.to_s %>" style="display:none"></div>
    <div id="all-comments-<%= ticket.id.to_s %>" style="display:none"></div>
  </div>
 </div>
