<%= render 'projects/left_sidebar' %>
<%= render 'projects/tabs' %>

<div class="container-fluid">
  <%= form_with method: :get, :url => { :controller => "dashboard", :action => "index" } do |form| %>
    <%= form.select :filter, options_for_select(["All", "Only tasks", "Only bugs", "Only mine", "Only created by me"], selected: "All") %>
    <%= form.submit("Filter") %>
  <% end %>

  <div id="all-tasks"><%= render 'dashboard_table' %></div>
</div>
