<%= render 'projects/left_sidebar' %>
<%= render 'projects/tabs' %>

<div class="container-fluid">
  <table class="dashboard-table table table-borderless">
    <thead>
      <tr>
        <th class="col-lg-3">TODO</th>
        <th class="col-lg-3">In progress</th>
        <th class="col-lg-3">Complete</th>
        <th class="col-lg-3">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% @tasks_todo.each do |task| %>
            <div class="row">
              <%= render partial: 'ticket', locals: {task: task} %>
            </div>
          <% end %>
        </td>
        <td>
          <% @tasks_inprogress.each do |task| %>
            <div class="row">
              <%= render partial: 'ticket', locals: {task: task} %>
            </div>
          <% end %>
        </td>
        <td>
          <% @tasks_complete.each do |task| %>
            <div class="row">
              <%= render partial: 'ticket', locals: {task: task} %>
            </div>
          <% end %>
        </td>
        <td>
          <% @tasks_done.each do |task| %>
            <div class="row">
              <%= render partial: 'ticket', locals: {task: task} %>
            </div>
          <% end %>
        </td>
      </tr>

    </tbody>
  </table>


  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Panel title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
        <a href="#" class="card-link">Panel link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
