<%= render 'left_sidebar' %>

<div class="main">
    <div class="container-fluid">
      <div class="row">
        <% unless @employee.file_url.nil? %>
          <div class="col-md-2 col-lg-2" align="center"><%= image_tag @employee.file_url, :size => "200x200", class: "img-circle img-responsive"%> </div>
        <% end %>

        <div class="col-md-9  col-lg-9">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td><b>Name:</b></td>
                <td><%= @employee.full_name %></td>
              </tr>
              <tr>
                <td><b>Username:</b></td>
                <td><%= @employee.username %></td>
              </tr>
              <tr>
                <td><b>Function:</b></td>
                <td><%= @employee.function %></td>
              </tr>
              <tr>
                <td><b>Email:</b></td>
                <td><%= @employee.email %></td>
              </tr>
              <tr>
                <td><b>Roles:</b></td>
                <td>
                  <% @roles.each do |role| %>
                    <%= role.project.title %> -> <%= role.role %><br>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

          <% if current_user.can_modify_employee? %>
            <%= link_to edit_employee_path(@employee), class: "btn btn-warning", title: 'Edit employee' do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>

            <%= link_to employee_path(@employee), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", title: 'Delete employee' do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
</div>
