<%= render 'projects/left_sidebar' %>
<%= render 'dashboard/tabs' %>


<div class="container-fluid">
  <div class="panel panel-primary">

    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"><b> Comments for <%= @ticket.title %> ticket</b></span>
    </div>

    <div class="panel-body scroll-down" id="all-comments-panel">
      <div id="comments">
        <% @all_ticket_comments.each do |comment| %>
          <small class='form-text text-muted' style='font-size:10px;'><%= comment.date_time %></small><br>
          <b style="color:#167FD2"><%= comment.user.username %> said: </b>
          <%= comment.body %><br>
          <%= render 'shared/attachments', entity: comment %><br>
        <% end %>
      </div>
    </div>

  </div>
</div>
