<%= form_with model: [@project, @task], local: true, class: 'form-horizontal' do |form| %>
  <%= form.hidden_field :parent_id %>

  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:
    </h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="container-fluid">
    <div class="form-group required">
      <%= form.label :title, class: 'control-label col-sm-1'%>
      <div class="col-sm-4">
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :priority, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.radio_button :priority, 'low', :checked => true %>
        <%= form.label :priority_low, 'Low' %><br>
        <%= form.radio_button :priority, 'medium' %>
        <%= form.label :priority_medium, 'Medium' %><br>
        <%= form.radio_button :priority, 'high' %>
        <%= form.label :priority_high, 'High' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :attachments, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.file_field :attachments, class: 'form-control-file', multiple: true  %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label 'Developer', class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.select :employee_id, options_from_collection_for_select(@developers, "id", "full_name", 1) %>
      </div>
    </div>

    <br>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-1">
        <%= form.submit "Save" %>
      </div>
    </div>

    <br>
    <p><span style="color:red">* </span>fields are mandatory</p>

  </div>
<% end %>
