<%= form_with model: [@project, @task], local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :priority %><br>
      <%= form.radio_button :priority, 'low', :checked => true %>
      <%= form.label :priority_low, 'Low' %><br>
      <%= form.radio_button :priority, 'medium' %>
      <%= form.label :priority_medium, 'Medium' %><br>
      <%= form.radio_button :priority, 'high' %>
      <%= form.label :priority_high, 'High' %>
  </p>

  <p>
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true %>
  </p>

    <%= form.fields_for :developers do |builder| %>
      <%= builder.collection_select(:developer_id, @project_developers, :id, :full_name,
                                     :prompt => 'select one developer') %>
    <% end %>

  <p>
    <%= form.submit %>
  </p>


<% end %>
