<h1>Clients</h1>

<table border="solid">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Country</th>
    <th>Company</th>
    <th></th>
    <th colspan="2">Actions</th>

    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name + " " + client.last_name %></td>
        <td><%= client.username %></td>
        <td><%= client.email %></td>
        <td><%= client.country %></td>
        <td><%= client.company %></td>
        <td><%= image_tag "/uploads/" + client.picture, :size => "50x50" %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client_path(client), method: :delete,
                                      data: { confirm: 'Are you sure?' } %>
    <% end %>

</table><br>

<%= link_to 'New client', new_client_path %>
