
<%= render 'left_sidebar' %>

<div class="main">
  <% if current_user.type == "Admin" %>
    <div class="container-fluid">
      <div class="row">
        <% if !@client.attachment_url.nil? %>
          <div class="col-md-3 col-lg-3" align="center"><%= image_tag @client.attachment_url, :size => "200x200", class: "img-circle img-responsive"%> </div>
        <% end %>

        <div class=" col-md-9 col-lg-9">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Name:</td>
                <td><%= @client.first_name + " " + @client.last_name %></td>
              </tr>
              <tr>
                <td>Username:</td>
                <td><%= @client.username %></td>
              </tr>
              <tr>
                <td>Company:</td>
                <td><%= @client.company %></td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><%= @client.country %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @client.email %></td>
              </tr>
            </tbody>
          </table>

          <%= link_to edit_client_path(@client), class: "btn btn-sm btn-warning", title: 'Edit client' do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger", title: 'Delete client' do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>

        </div>
      </div>
    </div>
    <% end %>
</div>
