
<%= render 'left_sidebar' %>

<div class="main">
  <% if current_user.type == "Admin" %>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3" align="center"><%= image_tag @client.attachment_url, :size => "100x100", class: "img-circle img-responsive"%> </div>

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Name:</td>
                <td><%= @client.first_name + " " + @client.last_name %></td>
              </tr>
              <tr>
                <td>Username:</td>
                <td><%= @client.username %></td>
              </tr>
              <tr>
                <td>Company:</td>
                <td><%= @client.company %></td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><%= @client.country %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @client.email %></td>
              </tr>
            </tbody>
          </table>

          <%= link_to edit_client_path(@client), class: "btn btn-sm btn-warning", title: 'Edit client' do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger", title: 'Delete client' do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<!--
    <table border="solid">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Country</th>
        <th>Company</th>
        <th></th>
        <th colspan="2">Actions</th>

        <% Client.all.each do |client| %>
          <tr>
            <td><%= client.first_name + " " + client.last_name %></td>
            <td><%= client.username %></td>
            <td><%= client.email %></td>
            <td><%= client.country %></td>
            <td><%= client.company %></td>
            <td><%= image_tag client.attachment_url, :size => "50x50" %></td>
            <td><%= link_to 'Edit', edit_client_path(client) %></td>
            <td><%= link_to 'Delete', client_path(client), method: :delete,
                                          data: { confirm: 'Are you sure?' } %>
        <% end %>

    </table><br>

    <p>
      <%= link_to 'New client', new_client_path %>
    </p>

    <p>
      <%= link_to "Back", root_path, class: 'back-button' %>
    </p>

  <% end %>
-->
</div>
