<%= form_with model: [@project, @ticket], local: true, class: 'form-horizontal' do |form| %>
  <%= form.hidden_field :owner %>
  <%= form.hidden_field :bug, value: @is_bug %>
  <%= form.hidden_field :parent_ticket %>

  <% if @ticket.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:
    </h2>
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="container-fluid">
    <div class="form-group required">
      <%= form.label :title, class: 'control-label col-sm-1'%>
      <div class="col-sm-4">
        <%= form.text_field :title, autocomplete: 'off', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :priority, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.radio_button :priority, 'low', :checked => true %>
        <%= form.label :priority_low, 'Low' %><br>
        <%= form.radio_button :priority, 'medium' %>
        <%= form.label :priority_medium, 'Medium' %><br>
        <%= form.radio_button :priority, 'high' %>
        <%= form.label :priority_high, 'High' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "Estimated deadline", class: 'control-label col-sm-1' %>
      <div class="col-sm-2">
        <div class='input-group date'>
          <% if @from_edit %>
            <%= form.text_field :deadline, autocomplete: 'off', class: 'form-control', id: 'datetimepicker', 'data-deadline': @ticket.format_deadline %>
          <% else %>
            <%= form.text_field :deadline, autocomplete: 'off', class: 'form-control', id: 'datetimepicker', 'data-deadline': Time.now.strftime("%Y-%m-%d %I:%M") %>
          <% end %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :attachments, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <% @ticket.attachments.each do |attachment| %>
          <%= link_to ticket_delete_attachment_path(@ticket, attachment), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete attachment' do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
          <%= link_to attachment.filename, attachment.file.url, target: :_blank %><br>
        <% end %>
        <%= form.file_field :files, class: 'form-control-file', multiple: true  %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label 'Developer', class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <% unless params[:bug] %>
          <%= form.select :employee_id, options_from_collection_for_select(@developers, "id", "full_name", 1) %>
        <% else %>
          <%= form.select :employee_id, options_from_collection_for_select([@developer], "id", "full_name", 1) %>
        <% end %>
        </div>
      </div>

    <br>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-1">
        <%= form.submit "Save" %>
      </div>
      <%= link_to '<button type="button">Cancel</button>'.html_safe, project_dashboard_index_path(@project), style: 'color: black;' %>
    </div>

    <br>
    <p><span style="color:red">* </span>fields are mandatory</p>

  </div>
<% end %>
