<%= render 'projects/left_sidebar' %>
<%= render 'tabs' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-7">

      <table class="table table-user-information">
        <tbody>
          <tr>
            <td><b>Title:<b></td>
            <td><%= @ticket.title.capitalize %></td>
          </tr>
          <tr>
            <td><b>Description:</b></td>
            <td><%= @ticket.description.capitalize %></td>
          </tr>
          <tr>
            <td><b>Assigned to:</b></td>
            <td><%= @ticket.get_employee.full_name %></td>
          </tr>
          <tr>
            <td><b>Created by:</b></td>
            <% if @ticket.owner %>
              <td><%= @ticket.get_owner.full_name %></td>
            <% else %>
              <td><%= @ticket.project.get_projectmanager.full_name %> (project manager) </td>
            <% end %>
          </tr>
          <tr>
            <td><b>Priority:</b></td>
            <td><%= @ticket.priority.capitalize %></td>
          </tr>
          <tr>
            <td><b>Status:</b></td>
            <td><%= @ticket.status.capitalize %></td>
          </tr>
          <tr>
            <% if (@ticket.parent_ticket) && (@ticket.type == 2) %>
              <td><b>From ticket:</b></td>
              <td><%= @ticket.get_parent.title %>
            <% elsif (@ticket.parent_ticket) && !(@ticket.type == 2) %>
              <td><b>Derived from:</b></td>
              <td><%= link_to @ticket.get_parent.title, project_ticket_path(@ticket.project, @ticket.get_parent) %>
            <% end %>
          </tr>
          <tr>
            <% if @ticket.has_children? %>
              <td><b>Children:</b></td>
              <td>
                <% @ticket.get_children.each do |children| %>
                  <%= link_to children.title, project_ticket_path(@ticket.project, children) %><br>
                <% end %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td><b>Attachments:</b></td>
            <td>
              <%= render 'shared/attachments', entity: @ticket %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <% if current_user.can_modify_ticket?(@project, @ticket) %>
      <%= link_to edit_project_ticket_path(@ticket.project, @ticket), class: 'btn btn-warning', title: 'Edit project' do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
    <% end %>

  </div>
</div>
