<%= render 'projects/left_sidebar' %>
<%= render 'tabs' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-7">

      <table class="table table-user-information">
        <tbody>
          <tr>
            <td><b>Estimated deadline:<b></td>
            <td>
              <% if @deadline %>
                <%= @ticket.format_date(@deadline) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><b>Remaining time:</b></td>
            <td>
              <% if @deadline %>
                <%= @ticket.remaining_time(@deadline) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><b>Passed time:</b></td>
            <td>
              <% if @ticket.remaining_time_precent(@deadline) %>
                <div class="progress" style="width: 60%">
                  <div id="progresss" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="color: #f1c40f">
                      <%= @ticket.remaining_time_precent(@deadline) %> %
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><b>Worked on since:</b></td>
            <td>
              <% if @ticket.started_at %>
                <%= @ticket.format_date(@ticket.started_at) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><b>Finished:</b></td>
            <td>
              <% if @ticket.ended_at %>
                <%= @ticket.format_date(@ticket.ended_at) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<script>
$(function() {
  //i let this script here because i can't work with ruby in application.js. also, will @ticket be visible there?
  var progress_bar_width = <%= @ticket.remaining_time_precent(@ticket.deadline) %>
  $("#progresss").css("width", progress_bar_width + '%' );
});
</script>

<!-- this here only to make sure last commit was saved
ddsdf-->
