<%= form_with model: @project, local: true, class: 'form-horizontal' do |form| %>

  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:
    </h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="container-fluid">
    <div class="form-group required">
      <%= form.label :title, class: 'control-label col-sm-1'%>
      <div class="col-sm-4">
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :attachments, class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.file_field :attachments, class: 'form-control-file', multiple: true  %>
      </div>
    </div>

    <div class="form-group required">
      <%= form.label 'Project manager', class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.fields_for :employees do |builder| %>
          <%= builder.collection_select(:projectmanager_id, Employee.all, :id, :full_name,
                                         :prompt => 'select one employee') %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label 'Clients', class: 'control-label col-sm-1' %>
      <div class="col-sm-4">
        <%= form.collection_check_boxes :client_ids, Client.all, :id, :full_name,
                                          { include_hidden: false } do |client| %>
          <div class="collection-check-box">
            <%= client.check_box %>
            <%= client.label %>
          </div>
        <% end %>
      </div>
    </div>
    
    <br>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-1">
        <%= form.submit "Save" %>
      </div>
    </div>

    <br>
    <p><span style="color:red">* </span>fields are mandatory</p>

  </div>
<% end %>
