<div class="sidenav">
  <% if current_user.can_see_projects %>
    <% @projects.each do |project| %>
      <%= link_to project.title, project_path(project) %>
    <% end %>
  <% end %>

  <% if current_user.can_modify_project %>
    <div class="footer">
      <%= link_to 'Add new project', new_project_path %>
    </div>
  <% end %>

  <% if current_user.can_see_project_roles %>
    <h3>Project manager</h3>
    <% @projects_projectmanager_role.each do |project| %>
      <%= link_to project.title, project_path(project.id) %>
    <% end %>

    <h3>Developer</h3>
    <% @projects_developer_role.each do |project| %>
      <%= link_to project.title, project_path(project.id) %>
    <% end %>

    <h3>Tester</h3>
    <% @projects_tester_role.each do |project| %>
      <%= link_to project.title, project_path(project.id) %>
    <% end %>
  <% end %>
</div>
