<div class="sidenav">
  <% if current_user.can_see_all_projects %>
    <% @projects.each do |project| %>
      <%= link_to project.title, project_path(project) %>
    <% end %>
  <% end %>

  <% if current_user.can_modify_project %>
    <div class="footer">
      <%= link_to 'Add new project', new_project_path %>
    </div>
  <% end %>

  <% if current_user.can_see_project_roles %>
    <h3>Project manager</h3>
    <% @projectmanager_roles.each do |role| %>
      <%= link_to role.project.title, project_path(role.project.id) %>
    <% end %>

    <h3>Developer</h3>
    <% @developer_roles.each do |role| %>
      <%= link_to role.project.title, project_path(role.project.id) %>
    <% end %>

    <h3>Tester</h3>
    <% @tester_roles.each do |role| %>
      <%= link_to role.project.title, project_path(role.project.id) %>
    <% end %>
  <% end %>
</div>
