<%= render 'left_sidebar' %>
<%= render 'tabs' %>

<%= form_with :url => { :controller => "projects", :action => "add_developers" } do |form| %>
  <h3>Add more developers</h3>
  <%= form.collection_check_boxes :developer_ids, @available_employees, :id, :full_name,
        { include_hidden: false } do |employee| %>
    <div class="collection-check-box">
      <%= employee.check_box %>
      <%= employee.label %>
    </div>
  <% end %><br>
  <%= form.submit("Add") %>
<% end %>

<%= form_with :url => { :controller => "projects", :action => "add_testers" } do |form| %>
  <h3>Add more testers</h3>
  <%= form.collection_check_boxes :tester_ids, @available_employees, :id, :full_name,
        { include_hidden: false } do |employee| %>
    <div class="collection-check-box">
      <%= employee.check_box %>
      <%= employee.label %>
    </div>
  <% end %><br>
  <%= form.submit("Add") %>
<% end %>
