<%= render 'left_sidebar' %>
<%= render 'dashboard/tabs' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-7">

      <table class="table table-user-information">
        <tbody>
          <tr>
            <td><b>Title:<b></td>
            <td><%= @project.title %></td>
          </tr>
          <tr>
            <td><b>Description:</b></td>
            <td><%= @project.description %></td>
          </tr>
          <tr>
            <td><b>Clients:</b></td>
            <td>
              <% @project.clients.each do |client| %>
                  <%= client.full_name %><br>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><b>Project manager:</b></td>
            <td>
              <%= @projectmanager.full_name %>
            </td>
          </tr>
          <% if current_user.can_see_project_team? %>
            <tr>
              <td><b>Developers:</b><br>
                <% if current_user.can_modify_project? || current_user.is_projectmanager?(@project) %>
                  <%= link_to project_developers_path(@project), class: 'btn btn-success', title: 'Manage developers' do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% @developers.each do |developer| %>
                  <%= developer.full_name %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><b>Testers:</b><br>
                <% if current_user.can_modify_project? || current_user.is_projectmanager?(@project) %>
                  <%= link_to project_testers_path(@project), class: 'btn btn-success', title: 'Manage testers' do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% @testers.each do |tester| %>
                  <%= tester.full_name %><br>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td><b>Attachments:</b></td>
            <td>
              <% @project.attachments.each do |attachment| %>
                <% if attachment.file.is_other? %>
                  <%= link_to attachment.file.get_original_filename, download_file_path(@project, attachment.file), target: :_blank %><br>
                <% else %>
                  <%= link_to attachment.filename, attachment.file.url, target: :_blank %><br>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

        <% if current_user.can_modify_project? %>
          <%= link_to edit_project_path(@project), class: 'btn btn-warning', title: 'Edit project' do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: 'Delete project' do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        <% end %>

    </div>
  </div>

</div>
