<%= render 'projects/left_sidebar' %>
<%= render 'dashboard/tabs' %>

<br>
<div class="container-fluid">
  <div class="panel panel-primary">

    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"><b> Chat</b></span>
    </div>

    <div class="panel-body scroll-down">
      <div id="messages"><%= render @messages %></div>
    </div>

    <div class="panel-footer">
      <div class="input-group" style="width:100%">
        <% if current_user.can_chat?(@project) %>
          <%= form_with model: @message, url: '#', html: {id: 'new-message'} do |form| %>
            <%= form.text_field :body, class: "form-control", id: 'new-message-body', style: 'width: 95%;', autocomplete: 'off', placeholder: "Type your message here..." %>
            <%= form.submit "Send", class: "btn btn-info" %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  $('.scroll-down').scrollTop($('.scroll-down')[0].scrollHeight);
</script>
