<table>
  <tr>
    <td colspan="3"><%= button_tag "Save as PDF", id: 'save-pdf', class: 'btn btn-secondary', style: 'float: left' %>
    <%= button_to "Show all reports", project_reports_path(@project), method: :get, class: 'btn' %></td>
  </tr>
  <tr>
    <td><div id="priority_piechart"></div></td>
    <td><div id="status_piechart"></div></td>
    <td><div id="nr_tickets_per_employee_columnchart"></div></td>
  </tr>
  <tr>
    <td colspan="3"><div id="tickets_start_and_end_date_line_chart"></div></td>
  </tr>
  <tr style="height: 50px"></tr> <!-- did this to add space between line chart and calendar -->
  <tr>
    <td colspan="3">
      <span class="chart-title">Deadlines calendar</span>
      <%= month_calendar events: @tickets, attribute: :deadline do |date, tickets| %>
        <%= date.day %><br>

        <% if tickets.length != 0 %>
          <% if tickets.length == 1 %>
            <div><%= tickets.length %> ticket</div>
          <% else %>
            <div><%= tickets.length %> tickets</div>
          <% end %>
        <% end %>
        <% tickets.each do |ticket| %>
          <% case ticket.status %>
          <% when "To do" %>
            <span style="background-color: #dc3912" class="calendar-ticket"><%= ticket.title %></span>
          <% when "In progress" %>
            <span style="background-color: #ff9900" class="calendar-ticket"><%= ticket.title %></span>
          <% when "Complete" %>
            <span style="background-color: #fc3" class="calendar-ticket"><%= ticket.title %></span>
          <% when "Done" %>
            <span style="background-color: #109618" class="calendar-ticket"><%= ticket.title %></span>
          <% end %>
        <% end %>
      <% end %>

      <div class="calendar-legend">
        <span style="float: left">Statuses: &nbsp</span>
        <div class="calendar-legend-todo">
          <svg width="15" height="15">
            <rect width="300" height="100" style="fill:#dc3912" />
          </svg>
          <span>To do &nbsp</span>
        </div>

        <div class="calendar-legend-inprogress">
          <svg width="15" height="15">
            <rect width="300" height="100" style="fill:#ff9900" />
          </svg>
          <span>In progress &nbsp</span>
        </div>

        <div class="calendar-legend-complete">
          <svg width="15" height="15">
            <rect width="300" height="100" style="fill:#fc3" />
          </svg>
          <span>Complete&nbsp</span>
        </div>

        <div class="calendar-legend-done">
          <svg width="15" height="15">
            <rect width="300" height="100" style="fill:#109618" />
          </svg>
          <span>Done</span>
        </div>
      </div>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="timeline-wrapper">
        <span class="chart-title">Tickets timeline</span>
        <div id="tickets_after_statuses_timeline"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <!-- <canvas id="canvas" width=800 height=600> -->
      <div id="buttons"></div>
    </td>
  </tr>
</table>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="http://www.cloudformatter.com/Resources/Pages/CSS2Pdf/Script/xepOnline.jqPlugin.js"></script>
  <script type="text/javascript">
    console.log("loading charts..");
    google.charts.load('current', {'packages':['corechart']});
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawPriorityPiechart);
    google.charts.setOnLoadCallback(drawStatusPiechart);
    <% unless @report.settings['employees'].nil? %>
      google.charts.setOnLoadCallback(drawNrTicketPerEmployeeColumnchart);
    <% end %>
    google.charts.setOnLoadCallback(drawTicketsStartAndEndLinechart);
    google.charts.setOnLoadCallback(drawTicketsStatusesTimeline);

    var doc = new jsPDF(); // for pdf downloading

    function drawPriorityPiechart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Priority');
      data.addColumn('number', 'Tickets');
      data.addRows([
        ['High', <%= @nr_of_high_priority_tickets %>],
        ['Medium', <%= @nr_of_medium_priority_tickets %>],
        ['Low', <%= @nr_of_low_priority_tickets %>],
      ]);

      var options = {'title':'Tickets by priority',
                     'width':400,
                     'height':300,
                    }
      var chart = new google.visualization.PieChart(document.getElementById('priority_piechart'));
      chart.draw(data, options);

      doc.setPage(1);
      doc.addImage(chart.getImageURI(), 10, 0, 100, 80);
    }


    function drawStatusPiechart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Status');
      data.addColumn('number', 'Tickets');
      data.addRows([
        ['To do', <%= @nr_of_todo_tickets %>],
        ['In progress', <%= @nr_of_inprogress_tickets %>],
        ['Complete', <%= @nr_of_complete_tickets %>],
        ['Done', <%= @nr_of_done_tickets %>],
      ]);

      var options = {
        'title':'Tickets by status',
        'width':400,
        'height':300,
      }
      var chart = new google.visualization.PieChart(document.getElementById('status_piechart'));
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 100, 0, 100, 80);
    }

    function drawNrTicketPerEmployeeColumnchart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Employee');
      data.addColumn('number', 'Nr of tickets');

      <% @employees_for_columnchart.each do |employee| %>
        data.addRow(['<%= employee.full_name %>', <%= employee.get_nr_of_tickets(@conditions) %>])
      <% end %>

      var options = {
        title: 'Number of tickets per employee',
        width: 800,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("nr_tickets_per_employee_columnchart"));
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 0, 80, 200, 100);
    }

    function drawTicketsStartAndEndLinechart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Number of created tickets', 'Number of finished tickets'],
        <% @tickets_by_week.each do |end_of_week, nr_of_tickets| %>
          ['<%= end_of_week %>',  <%= nr_of_tickets[0] %>, <%= nr_of_tickets[1] %>],
        <% end %>
      ]);

      var options = {
        curveType: 'function',
        legend: { position: 'bottom' },
        series: {
            0: { color: '#1c91c0' },
            1: { color: '#6f9654' },
          },
        width: 1500,
        height: 300,
      };
      var chart = new google.visualization.LineChart(document.getElementById('tickets_start_and_end_date_line_chart'));
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 0, 200, 220, 60);
    }

    doc.addPage();
    doc.setPage(2);
    doc.addHTML($('.simple-calendar'), 15, 15, {width: 2000});

    function AddNamespace(){
      var svg = jQuery('#tickets_after_statuses_timeline svg');
      svg.attr("xmlns", "http://www.w3.org/2000/svg");
      svg.css('overflow','visible');
    }

    function drawTicketsStatusesTimeline() {
      var data = new google.visualization.DataTable();
      data.addColumn({ type: 'string', id: 'Status' });
      data.addColumn({ type: 'string', id: 'Ticket' });
      data.addColumn({ type: 'date', id: 'Started' });
      data.addColumn({ type: 'date', id: 'Ended' });

      <% @tickets.each do |ticket| %>
        <% if ticket.started_at %>
          data.addRow([ 'To do', '<%= ticket.title %>', new Date("<%= ticket.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.started_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
        <% if ticket.completed_at %>
          data.addRow([ 'Worked on', '<%= ticket.title %>', new Date("<%= ticket.started_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.completed_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
        <% if ticket.ended_at %>
          data.addRow([ 'Tested', '<%= ticket.title %>', new Date("<%= ticket.completed_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.ended_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
      <% end %>

      var options = {
        width: 1500,
        height: 750,
      };
      var chart = new google.visualization.Timeline(document.getElementById('tickets_after_statuses_timeline'));
      google.visualization.events.addListener(chart, 'ready', AddNamespace);

    //  doc.setPage(2);
//       google.visualization.events.addListener(chart, 'ready', function () {
//         function drawInlineSVG(ctx, rawSVG, callback) {
//             var svg = new Blob([rawSVG], {type:"image/svg+xml;charset=utf-8"}),
//                 domURL = self.URL || self.webkitURL || self,
//                 url = domURL.createObjectURL(svg),
//                 img = new Image();
//
//                 img.src = url;
//                 console.log(url)
//                 // img.onload = function() {
//                   ctx.drawImage(img, 0, 0);
//                   domURL.revokeObjectURL(url);
//                   callback(img);
//                 // }
// //
// // //           //  img.onload = function () {
// // //                 ctx.drawImage(this, 0, 0);
// // //                 domURL.revokeObjectURL(url);
// // //                 //callback(this);
// // //             // };
// // //
// // //             var img = new Image();
// // // img.src = "data:image/png;base64,iVBORw0KGgoAAAANSUh...";
// // // img.onload = function() {
// // //     ctx.drawImage(img, 0, 0);
// // // }
//          }


        // var container = document.getElementById('tickets_after_statuses_timeline');
        // var getSVG = container.getElementsByTagName("svg")[0]; // Gets the graph
        // console.log(getSVG);
        // getSVG.setAttribute('xmlns', "http://www.w3.org/2000/svg"); // Add attr to svg
        // getSVG.setAttribute('xmlns:svg', "http://www.w3.org/2000/svg"); // Add attr to svg
        // console.log(getSVG);
        //
        // var myCanvas = document.getElementById("canvas");
        // var ctxt = myCanvas.getContext("2d");

      //   drawInlineSVG(ctxt, getSVG.outerHTML, function() {
      //       console.log("back");
      //       console.log(canvas.toDataURL());  // -> PNG
      //   });
      // });

      chart.draw(data, options);
    }

    var click="return xepOnline.Formatter.Format('tickets_after_statuses_timeline', {render:'download', srctype:'svg'})";
    jQuery('#buttons').append('<button onclick="'+ click +'">PDF</button>');

    var btnSave = document.getElementById('save-pdf');
    btnSave.addEventListener('click', function () {
      doc.save('chart.pdf');
    }, false);

  </script>
