<% if @tickets.empty? %>
  <h2>There are no tickets</h2>
<% else %>
  <table>
    <tr>
      <td colspan="3"><%= button_tag "Save as PDF", id: 'save-pdf', class: 'btn btn-secondary'%></td>
    </tr>
    <tr>
      <td><div id="priority_piechart"></div></td>
      <td><div id="status_piechart"></div></td>
      <td><div id="nr_tickets_per_employee_columnchart"></div></td>
    </tr>
    <tr>
      <td colspan="3"><div id="tickets_start_and_end_date_line_chart"></div></td>
    </tr>
    <tr>
      <td colspan="3" height="200">
        <div class="row">
          <% if @report.settings['projects'].count > 1 %>
            <div class="col-md-4">
              <div class="panel panel-success">
                <div class="panel-heading"><%= Project.nr_of_unsolved_tickets(@report.settings['projects']) %> unsolved tickets</div>
                <div class="panel-body">
                  <% @report.settings['projects'].each do |project_id| %>
                    <p><%= Project.find(project_id).title %>: <b><%= Project.nr_of_unsolved_tickets([project_id]) %></b> tickets</p>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="panel panel-success">
                <div class="panel-heading"><%= Project.nr_of_urgent_tickets(@report.settings['projects']) %> tickets having deadline in less than a week </div>
                <div class="panel-body">
                  <% @report.settings['projects'].each do |project_id| %>
                    <p><%= Project.find(project_id).title %>: <b><%= Project.nr_of_urgent_tickets([project_id]) %></b> tickets</p>
                  <% end %>
                </div>
              </div>
            </div>



            <div class="col-md-4">
              <div class="panel panel-success">
                <div class="panel-heading">Raport tasks/bugs</div>
                <div class="panel-body">
                  <% @report.settings['projects'].each do |project_id| %>
                    <% project = Project.find(project_id) %>
                    <p><%= project.title %>: <b><%= project.tickets_bugs_report %></b></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr style="height: 50px"></tr> <!-- did this to add space between line chart and calendar -->
    <tr>
      <td colspan="3">
        <span class="chart-title-design">Deadlines calendar</span>
        <%= month_calendar events: @tickets, attribute: :deadline do |date, tickets| %>
          <%= date.day %><br>

          <% if tickets.length != 0 %>
            <% if tickets.length == 1 %>
              <div><%= tickets.length %> ticket</div>
            <% else %>
              <div><%= tickets.length %> tickets</div>
            <% end %>
          <% end %>
          <% tickets.each do |ticket| %>
            <% case ticket.status %>
            <% when "To do" %>
              <span style="background-color: #dc3912" class="calendar-ticket"><%= ticket.title %></span>
            <% when "In progress" %>
              <span style="background-color: #ff9900" class="calendar-ticket"><%= ticket.title %></span>
            <% when "Complete" %>
              <span style="background-color: #fc3" class="calendar-ticket"><%= ticket.title %></span>
            <% when "Done" %>
              <span style="background-color: #109618" class="calendar-ticket"><%= ticket.title %></span>
            <% end %>
          <% end %>
        <% end %>

        <div class="calendar-legend">
          <span style="float: left">Statuses: &nbsp</span>
          <div class="calendar-legend-todo">
            <svg width="15" height="15">
              <rect width="300" height="100" style="fill:#dc3912" />
            </svg>
            <span>To do &nbsp</span>
          </div>

          <div class="calendar-legend-inprogress">
            <svg width="15" height="15">
              <rect width="300" height="100" style="fill:#ff9900" />
            </svg>
            <span>In progress &nbsp</span>
          </div>

          <div class="calendar-legend-complete">
            <svg width="15" height="15">
              <rect width="300" height="100" style="fill:#fc3" />
            </svg>
            <span>Complete&nbsp</span>
          </div>

          <div class="calendar-legend-done">
            <svg width="15" height="15">
              <rect width="300" height="100" style="fill:#109618" />
            </svg>
            <span>Done</span>
          </div>
        </div>

      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="timeline-wrapper">
          <span class="chart-title">Tickets timeline</span>
          <div id="tickets_after_statuses_timeline"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <canvas id="please_work_canvas" width="1500" height="750" style="border:1px solid #d3d3d3;"></canvas>
      </td>
    </tr>
  </table>
<% end %>

<div class="modal fade" tabindex="-1" role="dialog" id="tickets-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tickets</h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    console.log("loading charts..");
    google.charts.load('current', {'packages':['corechart']});
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawPriorityPiechart);
    google.charts.setOnLoadCallback(drawStatusPiechart);
    google.charts.setOnLoadCallback(drawNrTicketPerEmployeeColumnchart);
    google.charts.setOnLoadCallback(drawTicketsStartAndEndLinechart);
    google.charts.setOnLoadCallback(drawTicketsStatusesTimeline);

    var doc = new jsPDF(); // for pdf downloading

    function drawPriorityPiechart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Priority');
      data.addColumn('number', 'Tickets');
      data.addRows([
        ['High', <%= @tickets_by_priority['high'].length %>],
        ['Medium', <%= @tickets_by_priority['medium'].length %>],
        ['Low', <%= @tickets_by_priority['low'].length %>],
      ]);

      var options = {'title':'Tickets by priority',
                     'width':400,
                     'height':300,
                    }
      var chart = new google.visualization.PieChart(document.getElementById('priority_piechart'));

      function showTicketsModal() {
        var selectedItem = chart.getSelection()[0];
        if (selectedItem) {
          var priority = data.getValue(selectedItem.row, 0);

          var html = '';
          switch(priority) {
            case "Low":
              {
                <% @tickets_by_priority['low'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
            case "Medium":
              {
                <% @tickets_by_priority['medium'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
            case "High":
              {
                <% @tickets_by_priority['high'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
          }
          $("#tickets-modal .modal-body").html(html)
          $('#tickets-modal').modal('show');
        }
      }

      google.visualization.events.addListener(chart, 'select', showTicketsModal);
      chart.draw(data, options);

      doc.setPage(1);
      doc.addImage(chart.getImageURI(), 10, 0, 100, 80);
    }


    function drawStatusPiechart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Status');
      data.addColumn('number', 'Tickets');
      data.addRows([
        ['To do', <%= @tickets_by_status['To do'].length %>],
        ['In progress', <%= @tickets_by_status['In progress'].length %>],
        ['Complete', <%= @tickets_by_status['Complete'].length %>],
        ['Done', <%= @tickets_by_status['Done'].length %>],
      ]);

      var options = {
        'title':'Tickets by status',
        'width':400,
        'height':300,
      }
      var chart = new google.visualization.PieChart(document.getElementById('status_piechart'));

      function showTicketsModal() {
        var selectedItem = chart.getSelection()[0];
        if (selectedItem) {
          var status = data.getValue(selectedItem.row, 0);

          var html = '';
          switch(status) {
            case "To do":
              {
                <% @tickets_by_status['To do'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
            case "In progress":
              {
                <% @tickets_by_status['In progress'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
            case "Complete":
              {
                <% @tickets_by_status['Complete'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
            case "Done":
              {
                <% @tickets_by_status['Done'].each do |ticket| %>
                  html += '<%= link_to ticket.title, project_ticket_path(@project, ticket) %><br>'
                <% end %>
              }
              break;
          }
          $("#tickets-modal .modal-body").html(html)
          $('#tickets-modal').modal('show');
        }
      }

      google.visualization.events.addListener(chart, 'select', showTicketsModal);
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 100, 0, 100, 80);
    }

    function drawNrTicketPerEmployeeColumnchart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Employee');
      <% if @report.settings['projects'].nil? %>
        data.addColumn('number', 'Total number of tickets');

        <% @employees_for_columnchart.each do |employee| %>
          data.addRow(['<%= employee.full_name %>', <%= employee.get_nr_of_tickets(@conditions) %>])
        <% end %>
      <% else %>
        <% @report.settings['projects'].each do |project| %>
          data.addColumn('number', '<%= Project.find(project).title %>');
        <% end %>

        var array;
        <% @employees_for_columnchart.each do |employee| %>
          array = ['<%= employee.full_name %>'];
          <% if @report.settings['projects'].nil? %>
            array.push(<%= employee.get_nr_of_tickets(@conditions) %>);
          <% else %>
            <% @report.settings['projects'].each do |project_id| %>
              <% @conditions['project_id'] = project_id %>
              array.push(<%= employee.get_nr_of_tickets(@conditions) %>);
            <% end %>
          <% end %>
          data.addRow(array);
        <% end %>
      <% end %>

      var options = {
          title: 'Number of tickets per employee',
          width: 800,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("nr_tickets_per_employee_columnchart"));
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 0, 80, 200, 100);
    }

    function drawTicketsStartAndEndLinechart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Number of assigned tickets', 'Number of finished tickets'],
        <% @tickets_by_week.each do |end_of_week, nr_of_tickets| %>
          ['<%= end_of_week %>',  <%= nr_of_tickets[0] %>, <%= nr_of_tickets[1] %>],
        <% end %>
      ]);

      var options = {
        curveType: 'function',
        legend: { position: 'bottom' },
        series: {
            0: { color: '#1c91c0' },
            1: { color: '#6f9654' },
          },
        width: 1500,
        height: 400,
      };
      var chart = new google.visualization.LineChart(document.getElementById('tickets_start_and_end_date_line_chart'));
      chart.draw(data, options);

      doc.addImage(chart.getImageURI(), 0, 200, 220, 60);
    }

    doc.addPage();
    doc.setPage(2);
    doc.addHTML($('.simple-calendar'), 15, 15, {width: 2000});

    function drawTicketsStatusesTimeline() {
      var data = new google.visualization.DataTable();
      data.addColumn({ type: 'string', id: 'Status' });
      data.addColumn({ type: 'string', id: 'Ticket' });
      data.addColumn({ type: 'date', id: 'Started' });
      data.addColumn({ type: 'date', id: 'Ended' });

      <% @tickets.each do |ticket| %>
        <% if ticket.started_at %>
          data.addRow([ 'To do', '<%= ticket.title %>', new Date("<%= ticket.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.started_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
        <% if ticket.completed_at %>
          data.addRow([ 'Worked on', '<%= ticket.title %>', new Date("<%= ticket.started_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.completed_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
        <% if ticket.ended_at %>
          data.addRow([ 'Tested', '<%= ticket.title %>', new Date("<%= ticket.completed_at.strftime('%Y-%m-%d %H:%M:%S') %>"), new Date("<%= ticket.ended_at.strftime('%Y-%m-%d %H:%M:%S') %>") ]);
        <% end %>
      <% end %>

      var options = {
        width: 1500,
        height: 750,
      };
      var chart = new google.visualization.Timeline(document.getElementById('tickets_after_statuses_timeline'));

      google.visualization.events.addListener(chart, 'ready', function () {
        var container = document.getElementById('tickets_after_statuses_timeline');
        var svg = container.getElementsByTagName("svg")[0]; // Gets the graph
        var serializer = new XMLSerializer();
        var svgString = serializer.serializeToString(svg);

        var canvas = document.getElementById('please_work_canvas');
        var ctx = canvas.getContext( "2d" );

        var img = document.createElement( "img" );
        img.setAttribute( "src", "data:image/svg+xml;base64," + btoa(unescape(encodeURIComponent(svgString))) );
        img.onload = function() {
            ctx.drawImage( img, 0, 0, 1500, 750 );
            doc.setPage(2);
            doc.addImage(canvas.toDataURL( "image/png" ), 10, 100, 190, 120);
        };

        canvas.style.display = "none";
      });

      chart.draw(data, options);
    }

    var btnSave = document.getElementById('save-pdf');
    btnSave.addEventListener('click', function () {
      doc.save('chart.pdf');
    }, false);

  </script>
