<%= render 'projects/left_sidebar' %>
<%= render 'dashboard/tabs' %>

<div class="container-fluid">
  <%= form_with class: 'reports-form' do |f| %>
    <br>
    <div class="form-group">
      <%= f.radio_button :proj_vs_emplys, "Projects", onClick: "show_projects_dropdown()" %>
      <%= f.label :proj_vs_emplys, "Projects", value: "projects" %>
      <%= f.radio_button :proj_vs_emplys, "Employees", onClick: "show_employees_dropdown()" %>
      <%= f.label :proj_vs_emplys, "Employees", value: "employees" %>
    </div>

    <div id="projects-dropdown" style="display: none;">
      <%= f.select :select_projects, options_from_collection_for_select(@projects, "id", "title"), {}, { multiple: true } %>
    </div>

    <div id="employees-dropdown" style="display: none;">
      <%= f.select :select_employees, options_from_collection_for_select(@employees, "id", "full_name"), {}, { multiple: true } %>
    </div>
  <% end %>

  <div id="piechart_div"></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Priority');
      data.addColumn('number', 'Tickets');
      data.addRows([
        ['High', <%= @project.get_nr_of_high_priority_tickets %>],
        ['Medium', <%= @project.get_nr_of_medium_priority_tickets %>],
        ['Low', <%= @project.get_nr_of_low_priority_tickets %>],
      ]);

      var options = {'title':'Tasks by priority',
                     'width':400,
                     'height':300};

      var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
      chart.draw(data, options);
    }

  </script>
