<%= render 'projects/left_sidebar' %>
<%= render 'dashboard/tabs' %>

<div class="container-fluid">
  <%= render 'reports_settings' %>

  <div class="row" style="margin-left: 10px">
    <%= link_to 'Create PDF document', project_report_path(@project, @report, :format => :pdf) %>
  </div>

  <%= render 'charts' %>
</div>
