<html>
  <head>
    <title>Project Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-default" style="position:fixed;z-index:100;">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <!-- can be better? -->
              <% if current_user.type == "Admin" %>
                <%= link_to image_tag("home.png", size: "35"), admin_index_path %>
              <% else %>
                <%= link_to image_tag("home.png", size: "35"), projects_path %>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user.can_see_his_profile? %>
                <% case current_user.type %>
                <% when "Client" %>
                  <%= link_to client_path(current_user) do %>
                    <i class="glyphicon glyphicon-user"><%= current_user.username %></i>
                  <% end %> <!-- link_to end -->
                <% when "Employee" %>
                  <%= link_to employee_path(current_user) do %>
                    <i class="glyphicon glyphicon-user"><%= current_user.username %></i>
                  <% end %> <!-- link_to end -->
                <% end %> <!-- when end -->
              <% else %> <!-- if it's admin -->
                <a><i class="glyphicon glyphicon-user"> admin</i></a>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <span class="glyphicon glyphicon-log-out">Log out</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <%= yield %>

  </body>
</html>
