<!DOCTYPE html>
<html>
  <head>
    <title>Project Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-default" style="background-color: #eee">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user.can_see_his_profile %>
                <%= link_to employee_path(current_user.id) do %>
                  <i class="glyphicon glyphicon-user"><%= current_user.username %></i>
                <% end %>
              <% else %> <!-- if it's admin -->
                <a><i class="glyphicon glyphicon-user"> admin</i></a>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <span class="glyphicon glyphicon-log-out">Log out</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <%= yield %>

  </body>
</html>
