<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= csrf_meta_tags %>
  <%= wicked_pdf_stylesheet_link_tag "reports" -%>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%#= wicked_pdf_stylesheet_link_tag "print" %>

  <%= wicked_pdf_javascript_include_tag 'jquery' %>
  <%= wicked_pdf_javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
